<header>
  <nav>
    <div id='logo'>Dawn</div>
    <ul class='menu gray'>
      <li>{{#link-to 'apps'}}Apps{{/link-to}}</li>
      <li><a href="http://docs.dawn.dev">Docs</a></li>
      <li><a href="http://help.dawn.dev">Support</a></li>
    </ul>
    <ul class='menu right'>
      <li><a href="#" title="Settings"><i class="fa fa-fw fa-cog"></i></a></li>
      <li><a href="#" title="Log out"><i class="fa fa-fw fa-sign-out"></i></a></li>
    </ul>
  </nav>
</header>

{{outlet}}
